


.form_wrapper {
    background-color: rgba(255, 255, 255, 0.9);
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: fit-content;
    padding-bottom: 55px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    border: black solid 1px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(0, 55, 138);
    z-index: 1;
}

.searchForm {
    display: flex;
    flex-direction: row;
}

.searchForm div {
    display: flex;
    flex-direction: column;
}

.searchForm input {
    display: flex;
    border-radius: 5px;
    border: solid 1px rgb(216, 216, 216);
    padding: 10px;
    margin: 1px;
    height: 20px;
    font-size: 12px;
}

.searchForm label {
    display: flex;
    justify-content: center;
    font-size: 16px;
}

.searchFormButton {
    color: white;
    font-weight: bold;
    background-color: rgb(0, 55, 138);
    position: fixed;
    margin-top: 70px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    letter-spacing: 1.2px;
    font-size: 15px;
}

.searchForm-errors {
    color: red;
    text-align: center;
    font-weight: bold;
    margin-bottom: 15px;
}
