


.searchResultsUl {
    margin: 0;
    padding: 5px;
    overflow-y: scroll;
    height: 377px;
}

.searchResultsUl::-webkit-scrollbar {
    /* display: none; */
    /* background-color: black; */
}

.searchResultsLi {
    background-color: white;
    height: 100px;
    width: 100%;
    border: black solid 1px;
    border-radius: 5px;
    overflow-y: hidden;
    margin-bottom: 5px;
    transition-duration: 0.5s;
}

.collapse {
}

.expand {
    height: 230px;
}

.result-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 16%.5);
    grid-auto-rows: repeat(2, 100px);
    grid-template-areas:
    'route price stops-container departs arrival details-container'
    '. code flightNumber return bookFlight-container .'
    ;
    gap: 25px 5px;
    padding: 15px;
    justify-content: space-between;
    justify-items: center;
}

/* each div in my li styling */
.route {
    display: grid;
    grid-area: route;
    width: 100%;
    height: 100%;
    font-weight: bold;
    text-align: center;
}

.price {
    display: grid;
    grid-area: price;
    width: 100%;
    max-width: 120px;
    height: 100%;
    text-align: center;
    margin-top: 0px;
}

.stops-container {
    display: grid;
    grid-area: stops-container;
    width: 100%;
    height: 100%;
    text-align: center;
}

.departs {
    display: grid;
    grid-area: departs;
    width: 100%;
    max-width: 120px;
    height: 100%;
    text-align: center;
}

.arrival {
    display: grid;
    grid-area: arrival;
    width: 100%;
    max-width: 120px;
    height: 100%;
    text-align: center;
}

.details-container {
    display: grid;
    grid-area: details-container;
    width: 100%;
    height: 100%;
    max-height: 60px;
    text-align: center;
    margin: 0 auto;
}

.code {
    display: grid;
    grid-area: code;
    width: 100%;
    height: 100%;
    text-align: center;
}

.flightNumber {
    display: grid;
    grid-area: flightNumber;
    width: 100%;
    height: 100%;
    text-align: center;
}

.return {
    display: grid;
    grid-area: return;
    width: 100%;
    max-width: 120px;
    height: 100%;
    text-align: center;
}

.bookFlight-container {
    display: grid;
    grid-area: bookFlight-container;
    width: 120px;
    height: 50px;
    text-align: center;
    justify-items: center;
    align-self: center;
}

.route-p {
    margin: 0px;
    padding: 0px;
}

.price p {
    margin-top: 0px;
}

/* all p tag content inside my li */
.results-p {
    display: flex;
    justify-content: center;
}

/* bookFlight button styling */
.bookFlight-button {
    cursor: pointer;
    font-weight: bold;
    border: black solid 1px;
    border-radius: 5px;
    background-color: rgb(0, 55, 138);
    color: white;
    font-size: 15px;
    letter-spacing: 1px;
}

.bookFlight-button:hover {
    background-color: rgb(199, 255, 255);
    color: black;
    border: solid 1px rgb(153, 153, 153);
}

/* error handling styling */
.noMatch {
    color: red;
    text-align: center;
}

/* styling for expand button arrow */
.details-container {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    width: 90px;
}

.details-button {
    cursor: pointer;
    background-color: white;
    height: 20px;
    width: 20px;
    border-style: solid;
    box-sizing: border-box;
    border-color: black;
    border-width: 0px 1px 1px 0px;
    transform: rotate(45deg);
    transition: border-width 150ms ease-in-out;
}

.details-button:hover {
    border-bottom-width: 5px;
    border-right-width: 5px;
}

.up-arrow {
    transform: rotate(225deg);
}

.down-arrow {

}
