

body {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeDiv {
    background-color: rgb(247, 243, 230);
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
    'searchBackground searchBackground searchBackground searchBackground searchBackground'
    'searchBackground searchBackground searchBackground searchBackground searchBackground'
    '. searchResultsDiv searchResultsDiv searchResultsDiv .'
    '. searchResultsDiv searchResultsDiv searchResultsDiv .'
    '. . . . .'
    ;
    width: 100%;
    height: calc(100vh - 75px - 100px);
}

.searchBackground {
    grid-area: searchBackground;
    background-image: url(../../../images/searchBackground.jpg);
    width: 100%;
    height: calc(100vh - 75px - 100px);
    object-fit: cover;
    opacity: .3;
    z-index: 0;
}

.searchDiv {
    grid-area: searchBackground;
    display: flex;
    justify-content: center;
    align-items: center;

    /* margin-left: 50%; */
    /* position: relative; */
    /* margin-top: 120px; */
    /* margin-left: 600px; */
    /* width: fit-content; */
    /* height: 140px;
    background-color: rgba(255, 255, 255, .7);
    border: black solid 1px;
    border-radius: 8px;
    box-shadow: 0px 0px 20px 1px rgb(0, 55, 138);
    padding: 15px; */
}

.searchDiv h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: 25px;
    border-bottom: black solid 1px;
}

.searchResultsDiv {
    grid-area: searchResultsDiv;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

.searchResults-h3 {
    display: flex;
    justify-content: center;
    border-bottom: black solid 1px;
    font-size: 25px;
    margin: 10px;
    padding: 0;
    z-index: 1;
}

.errors-h {
    color: red;
    z-index: 1;
    text-align: center;
}

.errors-p {
    color: red;
    text-align: center;
}
