

body {
    margin: 0;
    letter-spacing: 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.homeDiv {
    background-color: rgb(247, 243, 230);
    display: grid;
    grid-template-columns: 15% 20% 30% 20% 15%;
    grid-auto-rows: minmax(80px, auto);
    grid-template-areas:
    'searchBackground searchBackground searchBackground searchBackground searchBackground'
    'searchBackground searchBackground searchBackground searchBackground searchBackground'
    '. searchResultsDiv searchResultsDiv searchResultsDiv .'
    '. searchResultsDiv searchResultsDiv searchResultsDiv .'
    '. . . . .'
    ;
    width: 100%;
    height: calc(100vh - 75px - 100px);
}

.searchBackground {
    grid-area: searchBackground;
    background-image: url(../../../images/searchBackground.jpg);
    width: 100%;
    height: calc(100vh - 75px - 100px);
    object-fit: cover;
    opacity: .3;
    z-index: 0;
}

.searchDiv {
    grid-area: searchBackground;
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchDiv h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5px;
    font-size: 25px;
    border-bottom: black solid 1px;
}

.searchResultsDiv {
    grid-area: searchResultsDiv;
    display: flex;
    flex-direction: column;
    z-index: 1;
}

/* .searchResultsUl {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;
}

.searchResultsUl::-webkit-scrollbar {
    display: none;
} */

.searchResults-h3 {
    display: flex;
    justify-content: center;
    border-bottom: black solid 1px;
    font-size: 25px;
    margin: 10px;
    padding: 0;
    z-index: 1;
}

.errors-h {
    color: red;
    z-index: 1;
    text-align: center;
}

.errors-p {
    color: red;
    text-align: center;
}
