


.landing-wrapper {
    display: grid;
    grid-template-columns: repeat(6, 16.7%);
    grid-template-rows: auto;
    grid-template-areas:
    'img-1 img-2 img-3 img-4 img-5 img-6'
    'T R A V E L'
    ;
    width: 100%;
}

.landingContent {
    position: absolute;
    border: black solid 1px;
    border-radius: 5px;
    width: 35%;
    padding: 20px;
    word-spacing: 1px;
    box-shadow: 0px 0px 10px 5px black;
    background-color: rgba(250, 250, 250, .9);
    z-index: 2;
    left: 31.5%;
    top: 15%;
}

.landingContent h3 {
    text-align: center;
    border-bottom: black solid 1px;
    margin-left: 175px;
    margin-right: 175px;
}

.buttonDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.buttonDiv button {
    color: white;
    font-weight: bold;
    background-color: rgb(0, 55, 138);
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    margin-left: 50px;
    margin-right: 50px;
}

.loginDiv button {
    color: white;
    font-weight: bold;
    background-color: rgb(0, 55, 138);
    padding: 15px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.landing-p {
    font-size: 18px;
    text-align: center;
}

.landing-p strong {
    color: rgb(0, 55, 138);
}

.landing-image {
    height: 100%;
    width: 100%;
}

.img-1 {
    grid-area: img-1;
    height: 600px;
}

.img-2 {
    grid-area: img-2;
    height: 600px;
    width: 100%;
}

.img-3 {
    grid-area: img-3;
    height: 600px;
    width: 100%;
}

.img-4 {
    grid-area: img-4;
    height: 600px;
    width: 100%;
}

.img-5 {
    grid-area: img-5;
    height: 600px;
    width: 100%;
}

.img-6 {
    grid-area: img-6;
    height: 600px;
    width: 100%;
}

.T {
    grid-area: T;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 255);
    height: 300px;
    font-size: 100px;
}

.R {
    grid-area: R;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(25, 63, 23);
    height: 300px;
    font-size: 100px;
}

.A {
    grid-area: A;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(170, 91, 0);
    height: 300px;
    font-size: 100px;
}

.V {
    grid-area: V;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(146, 146, 146);
    height: 300px;
    font-size: 100px;
}

.E {
    grid-area: E;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(243, 166, 0);
    height: 300px;
    font-size: 100px;
}

.L {
    grid-area: L;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(62, 155, 0);
    height: 300px;
    font-size: 100px;
}
