


.dashboard-wrapper {
    background-color: rgb(247, 243, 230);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: minmax(150px, auto);
    grid-template-areas:
    'bookings-wrapper watchlistForm-wrapper'
    'bookings-wrapper watchlistForm-wrapper'
    'bookings-wrapper watchlists-wrapper'
    ;
    width: 100%;
    min-height: 100vh;
    height: fit-content;
    margin-bottom: 100px;
}
