


.watchlistForm-wrapper {
    grid-area: watchlistForm-wrapper;
    margin: 40px;
}

.watchlistForm-wrapper h3 {
    border-bottom: black solid 1px;
    text-align: center;
    font-size: 25px;
}

.errors {
    text-align: center;
    color: red;
    margin-bottom: 15px;
}

.watchlistsShowP {
    border: black solid 1px;
    border-radius: 15px;
    background-color: rgb(0, 55, 138);
    color: white;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.watchlistsP {
    visibility: hidden;
    border: solid black 1px;
    border-radius: 10px;
    width: 50%;
    padding: 15px;
    margin: 0;
    background-color: rgb(0, 55, 138);
    color: white;
}

.watchlistsForm-container {
    border: black solid 1px;
    border-radius: 5px;
    padding: 10px;
    background-color: white;
}

.watchlistsForm {
    background-color:white;
    margin: 20px;
    padding: 20px;
    margin-right: 55%;
    min-width: 300px;
}

.watchlistsForm div {
    display: flex;
    justify-content: space-between;
}

.watchlistsForm input {
    width: 150px;
    margin: 3px;
    padding: 3px;
}

.watchlistsForm label {
    display: flex;
    align-items: center;
    padding-right: 15px;
}

.watchlistsForm button {
    background-color: rgb(0, 55, 138);
    color: white;
    border: solid black 1px;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

.disabled {
    visibility: hidden;
}
